server:
  port: 8080

spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/receipt_db
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
        dialect: org.hibernate.dialect.PostgreSQLDialect
